
/* Color Palette */
$negro-clarito: #3D3D3D;
$dark-grey:#2E2B2C;
$medium-grey: #666666;
$light-grey:#DBDBDB;
$grey:#9D9D9D;
$white: #fff;
$opaque-white: rgb(223, 223, 223);
$yellow-radial-gradient: radial-gradient(50% 50% at 50% 50%, #FFBF42 19.06%, #ffbb5c 100%);
$yellow-radial-gradient-activate: radial-gradient(58.33% 58.33% at 50% 51.67%, rgba(255, 232, 188, 0.5) 55%, rgba(255, 198, 88, 0.23) 100%), linear-gradient(180deg, #FFBF42 62.99%, #A76D1C 166.67%);
$yellow-linear-gradient: linear-gradient(180deg, #FFBF42 62.99%, #A76D1C 166.67%);
$yellow-solid: #f7b228;
$yellow-solid-active: #ffe1a6;
$light-yellow: #F3DDB2;
$faded-yellow: linear-gradient(90deg, #FFBF42 0%, rgba(255, 191, 66, 0.2) 100%);
$faded-orange: linear-gradient(90deg, rgba(88,25,11,0) 0%, rgba(233,101,59,0.7) 25%, rgba(255,112,66,0.7) 75%, rgba(88,25,11,0) 100%);
$orange-radial-gradient: radial-gradient(50% 50% at 50% 50%, #FF7042 19.06%, #A7351C 100%);
$orange-linear-gradient: linear-gradient(179.09deg, #FF7042 52.58%, #A7351C 100.85%);
$orange-solid: #FF7042;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;800&display=swap');

$primary-font-family: 'Mulish', sans-serif;
$second-font-family: 'Playfair Display SC', serif;
