$dark-grey:#2E2B2C;
$light-grey:#DBDBDB;
$grey:#9D9D9D;
$white: #fff;
$yellow-radial-gradient: radial-gradient(50% 50% at 50% 50%, #FFBF42 19.06%, #A76D1C 100%);
$yellow-linear-gradient: linear-gradient(180deg, #FFBF42 62.99%, #A76D1C 166.67%);
$yellow-solid: #f7b228;
$yellow-solid-active: #ffcd6a;
$light-yellow: #F3DDB2;
$faded-yellow: linear-gradient(90deg, #FFBF42 0%, rgba(255, 191, 66, 0) 100%);
$orange-radial-gradient: radial-gradient(50% 50% at 50% 50%, #FF7042 19.06%, #A7351C 100%);
$orange-linear-gradient: linear-gradient(179.09deg, #FF7042 52.58%, #A7351C 100.85%);